<footer class="footer" role="contentinfo">

    <div id="inner-footer" class="wrap clearfix">

        <p class="source-org copyright">© 2014 Alan Richards • All rights reserved.
        </p>

        <p class="made-with">
        	Proudly published with <a href="https://ghost.org/" title="Ghost" target="_blank">Ghost</a>
        </p>

    </div> <!-- end #inner-footer -->

</footer> <!-- end footer -->