<footer class="footer" role="contentinfo">

    <div id="inner-footer" class="wrap">

        <p class="source-org copyright">© 2014 Alan Richards • All rights reserved.
        </p>

        <p class="made-with">
        	Proudly published with <a href="https://ghost.org/" title="Ghost" target="_blank">Ghost</a> using the <a href="https://github.com/alarobric/Emilee" title="Emilee" target="_blank">Emilee</a> theme.
        </p>

    </div> <!-- end #inner-footer -->

</footer> <!-- end footer -->