<header class="header" role="banner">

    <div id="inner-header" class="wrap clearfix">

        {{#if @blog.cover}}
            <!-- Cover Image -->
            <div id="cover" class="cover-container">
                <img src="{{@blog.cover}}" alt="">
            </div>
        {{/if}}

        {{!
        {{#if @blog.logo}}{{!
            <!-- Logo -->
            <div id="logo" class="logo-container">
                <a href="/"><img src="{{@blog.logo}}{{!" alt="Logo"></a>
            </div>
        {{/if}}
        

        <!-- Title -->
        <h1 id="site-title" class="h1">
            <a href="/" rel="nofollow">{{@blog.title}}</a>
        </h1>

        <!-- Blog Description -->
        <p id="site-description">
            {{@blog.description}}
        </p>

        <!-- Static Menu (Dynamic menu not yet available in Ghost 0.3) -->
        {{> navigation}}

    </div> <!-- end #inner-header -->

</header> <!-- end header -->