{{!< default}}

<div>
    <h1 class="h2">
        <a href="{{url}}" rel="bookmark" title="Posts tagged with {{tag.name}}">Posts tagged with {{tag.name}}</a>
    </h1>
</div>

<section>

	{{#foreach posts}}
	    {{> list-post}}
	{{/foreach}}


	{{!! After all the posts, show the newer/older pagination links }}
	{{#if pagination}}
	    {{pagination}}
	{{/if}}

</section>